.App {
  font-family: "Manrope";
  text-align: center;
  font-weight: 700;
  margin: 1rem 0rem;
}
h1 {
  margin: 40px;
  font-size: large;
}
text {
  font-size: 16px;
  color: #475569;
}
.box {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
}
.block {
  font-size: large;
  margin: 5px;
  width: 50px;
}
